################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/.vs/WebApplication1
/WebApplication/WebApplication/obj
/aspdotnetMiddlewares/.vs
/aspdotnetMiddlewares/aspdotnetMiddlewares/obj
/Bookstore/.vs/Bookstore
/RoutingWithoutMVC/.vs
